$color-purple-dark: #3b385d;
$color-purple-medium: #676291;
$color-purple-light: #dbdcf6;
$color-grey: #d2d4e5;
$color-white: #fdfdfe;
$color-blue-medium: #869cf3;
$color-blue-light: #98adf7;
$color-green: #73d4bd;
$color-red: #f17271;
$color-yellow: #fffc75;
