$color-purple-ultra-dark: #2f2d51;
$color-purple-dark: #3b385d;
$color-purple-medium: #676291;
$color-purple-light: #dbdcf6;
$color-silver: #a7a6be;
$color-white: #fdfdfe;
$color-blue-dark: #474b7b;
$color-blue-medium: #869cf3;
$color-blue-light: #98adf7;
$color-green: #73d4bd;
$color-red: #f17271;
$color-yellow: #fffc75;
$color-logo-1: #8435b8;
$color-logo-2: #35b5c4;
